<%= @patient.name %>
<p>Appointments: 
    <% @patient.appointments.each do |appointment|%>
        <%= appointment.datetime %> <br>
        <%= link_to appointment.doctor.name, doctor_path(appointment.doctor)%>
    <% end %>
</p>